<body>
    <header class="header-banner" id="i13h">
      <div class="container-width">
        <div class="clearfix">
        </div>
        <div class="lead-title" id="i55ee">Please fill this application out!
        </div>
        <div class="sub-lead-title" id="ist4g">........................
        </div>
      </div>
    </header>
    <section class="flex-sect" id="ijk5p">
      <div class="container-width">
        <form method="get" id="ittgor">
          <div>
            <label id="i6m711">Name</label>
            <input type="text" id="io7dix"/>
          </div>
          <div>
            <label>Email</label>
            <input type="email"/>
          </div>
          <div>
            <label>Gender</label>
            <input type="checkbox" value="M"/>
            <label>M</label>
            <input type="checkbox" value="F"/>
            <label>F</label>
          </div>
          <div>
          </div>
          <div>
            <button type="button">Send</button>
          </div>
        </form>
      </div>
    </section>
  </body>