<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body id="ia2k">
  <header id="i0j5" class="header-banner">
    <div id="imfe" class="container-width">
      <div class="clearfix">
      </div>
      <div id="ifx82" class="lead-title">
        <b id="i3r3jp">Tenant Portal
          <br/>
          <span id="iwazo">Simplifying Your Rental Experience</span>
          <br/>
        </b>
      </div>
    </div>
  </header>
  <section id="i0dzf" class="flex-sect">
    <div id="igi6g" class="container-width">
      <div id="iuia4" class="flex-title">Welcome
        <br/>
        <span id="iwck3">Access your rental documents, track payments, and stay informed with real-time updates about your property.</span>
        <br/>
      </div>
      <div id="i1nok" class="cards">
        <div id="i5w1h" class="card">
          <div id="i2ts8" class="card-header">
          </div>
          <div id="iqj9y" class="card-body">
            <div id="i0xqm" class="card-title">Maintenance Request
            </div>
            <div id="iqa2s" class="card-desc">
              <span id="iaa4k">Submit and track maintenance requests easily. Keep your living space in top condition with prompt service updates</span>
            </div>
          </div>
        </div>
        <div id="i036p" class="card">
          <div class="card-header ch2">
          </div>
          <div id="i0nts" class="card-body">
            <div id="i3izc" class="card-title">Payments
            </div>
            <div id="ikhyk" class="card-desc">View your payment history and manage upcoming rent payments. Stay on top of your financial obligations with ease
            </div>
          </div>
        </div>
        <div id="ijnnf" class="card">
          <div id="ikc1o" class="card-header ch3">
          </div>
          <div id="ickav" class="card-body">
            <div id="ipkio" class="card-title">Documentations
            </div>
            <div id="ixcfc" class="card-desc">Access important rental documents, including lease agreements, check-in/check-out forms, and other property-related paperwork
            </div>
          </div>
        </div>
        <div id="i0pbd" class="card">
          <div id="i18vi" class="card-header ch4">
          </div>
          <div id="ig02g" class="card-body">
            <div id="i64k7" class="card-title">Profile Information
            </div>
            <div id="iyeaf" class="card-desc">Keep your personal details up to date, including contact information, emergency contacts, and more
            </div>
          </div>
        </div>
        <div id="ip6c6" class="card">
          <div id="i969z" class="card-header ch5">
          </div>
          <div id="itimp" class="card-body">
            <div id="i9prb" class="card-title">Important Links
            </div>
            <div id="ilq1k" class="card-desc">Quick access to essential resources and property-related websites to help you stay informed and connected
            </div>
          </div>
        </div>
        <div id="iovtk" class="card">
          <div id="iehjm" class="card-header ch6">
          </div>
          <div class="card-body">
            <div id="ik3gl" class="card-title">Property Management
            </div>
            <div id="ib6in" class="card-desc">Stay informed about your property management team, including contact details and office hours for any assistance you may need.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>